{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap5.3.3/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <title>Home</title>
</head>
{% block header %}
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-white">Главная</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Скачать</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Discord</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Инфо</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FAQs</a></li>

        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input disabled type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Search">
        </form>
      </div>
    </div>
  </header>
{% endblock %}
<body>
{% block content %}
<video id="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
  <source src="https://assets.codepen.io/6093409/river.mp4" type="video/mp4">
</video>
{% endblock %}

{% block footer %}

{% endblock %}


{% block scripts %}
<script src="{% static 'bootstrap5.3.3/js/bootstrap.bundle.min.js' %}">

</script>
{% endblock %}
</body>
</html>